<h1>here's our html page</h1>

<ul>
	<li><a href="./dev-team/Jake.html" target="_blank">Jakes super cool Dev Profile</a>
	<li><a href="./dev-team/mooney.html" target="_blank">Mooney's Dev Profile</a>
	<li><a href="./dev-team/Kat.html" target="_blank">Kat's Dev Profile</a>
	<li><a href="./dev-team/mark.html" target="_blank">Mark's 1st dev profile</a>
	<li><a href="./dev-team/barry.html" target="_blank">barry's first dev profile</a>
    <li><a href="../../dev-team/esther.html" target="_blank">Esther's 1st dev profile</a>
	<li><a href="./dev-team/Van.html" target="_blank">here is van dev profile</a>
	<li><a href="./dev-team/nikki.html" target="_blank">barry's first dev profile</a>
	<li><a href="./dev-team/zach.html" target="_blank">Zach's Profile</a>
	<li><a href="./dev-team/nikki.html" target="_blank">barry's first dev profile</a>
	<li><a href="./dev-team/coplen.html" target="_blank">Brandons super cool Dev Profile</a>
	<li><a href="./dev-team/macey.html" target="_blank">Macey's Dev Profile</a>
	<li><a href="./dev-team/morgan.html" target="_blank">here is Morgans dev profile</a>
	<li><a href="./dev-team/melody.html" target="_blank">Mel's first dev profile</a>

</ul>

